// Color Palette

// Primary

$primary-100: #5fe19b;
$primary-200: #4cc986;
$primary-300: #36b972;
$primary-350: #0ea152;
$primary-400: #067b3c;

$button-active: #2bb34f;
$button-hover: #5fe19bb5;

// Secondary

$secondary-blue-100: #5f81fb;
$secondary-blue-200: #1245c9;
$secondary-blue-300: #06207b;

$error-color: #fb5f5f;

$secondary-yellow: #ffdc22;

// Neutrals

$white: #ffffff;

$gray-50: #f0f0f0;
$gray-55: #f1f1f1;
$gray-100: #e7e7e7;
$gray-200: #d8d8d8;
$gray-250: #e1e1e4;
$gray-300: #c4c4c4;
$gray-400: #939393;
$gray-500: #515151;
$gray-550: #3d3d3d;
$gray-600: #303030;
$gray-650: #2a2a2a;
$gray-700: #141414;
$gray-800: #151515;

$box-shadow: rgba(106, 106, 106, 0.25);
$modal-text-shadow: rgba(0, 0, 0, 0.25);
$white-transparent: rgba(255, 255, 255, 0.3);
$white-transparent-100: rgba(255, 255, 255, 0.0001);
$black-transparent: rgba(0, 0, 0, 0.5);
$black-transparent-100: rgba(0, 0, 0, 0.0001);
$total-black: #000000;

// Theme

:root {
  .theme {
    --header-color: #{$white-transparent};
    --logo-color: #{$gray-550};
    --text-color: #{$gray-500};
    --primary-color: #{$primary-300};
    --bg-color: #{$gray-50};
    --bg-img: url(../../assets/desktop/slider/lightMode/slide-light-1.png);

    --login-color: #{$gray-50};
    --card-color: #{$white};
    --box-shadow-color: #{$box-shadow};
    --ssmm-color: #{$primary-300};

    --switch-color: #{$gray-250};
    --active-vw-bg-color: #{$gray-400};
    --active-vw-lines-color: #{$gray-500};
    --inactive-vw-bg-color: #{$gray-200};
    --inactive-vw-lines-color: #{$gray-300};
    --controllers: #{$white};

    --footer-gradient1: #{$white-transparent};
    --footer-gradient2: #{$gray-50};

    --hamburger-menu-bg: #{$white};
    --hamburger-menu-lines: #{$gray-250};

    --modal-bg-1: #{$white-transparent};
    --modal-bg-2: #{$gray-50};
    --chip-color: #{$primary-300};

    ---skeleton-g1: #{rgba(255, 255, 255, 0.05)};
    ---skeleton-g2: #{$white};

    &--dark {
      --header-color: #{transparent};
      --logo-color: #{$white};
      --text-color: #{$white};
      --primary-color: #{$primary-100};
      --bg-color: #{$gray-800};
      --bg-img: url(../../assets/desktop/slider/slide-1.png);

      --login-color: #{$black-transparent};
      --card-color: #{$gray-600};
      --ssmm-color: #{$white};

      --switch-color: #{$gray-250};
      --inactive-vw-bg-color: #{$gray-600};
      --inactive-vw-lines-color: #{$gray-500};
      --active-vw-bg-color: #{$gray-500};
      --active-vw-lines-color: #{$white};
      --controllers: #{$gray-500};

      --footer-gradient1: #{$black-transparent-100};
      --footer-gradient2: #{$total-black};

      --hamburger-menu-bg: #{$gray-650};
      --hamburger-menu-lines: #{$gray-500};

      --modal-bg-1: #{rgba(48, 48, 48, 0.0001)};
      --modal-bg-2: #{$gray-600};
      --chip-color: #{$white};

      ---skeleton-g1: #{rgba(219, 219, 219, 0.05)};
      ---skeleton-g2: #{$white};
    }
  }
}

// mixings

@mixin FlexBox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin Arrows {
  position: relative;
  background-color: transparent;
  border: none;
  top: 45%;
  cursor: pointer;
}

@mixin Vector($width) {
  content: "";
  position: absolute;
  top: 50%;
  height: 2.07px;
  width: $width;
  border-top: 1px solid var(--text-color);
}

@mixin Underline($color) {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0px;
  border: 0px solid $color;
  width: 0%;
}

@mixin hoverUnderline {
  border-width: 1px;
  width: 100%;
  transition: all 0.4s ease;
}

@mixin secondaryBtns {
  border: transparent;
  border-radius: 11px;
  background-color: inherit;
  cursor: pointer;
}

@mixin tooltip($width: auto, $top: 28px, $left: 66%) {
  display: none;

  position: absolute;
  top: $top;
  left: $left;

  width: $width;

  padding: 8px 11px;

  background-color: #fff;
  border-radius: 5px;

  font-size: 0.9em;

  transform: translate(-50%);
  transform-style: preserve-3d;
  z-index: 200;

  &:after {
    content: "";
    display: block;

    position: absolute;
    left: 50%;
    top: -1px;

    width: 10px;
    height: 10px;

    transform-origin: 50% 50%;
    transform: rotate(45deg) translateX(-50%);
    background-color: #fff;
    z-index: 400;
  }

  &:before {
    content: "";
    display: block;

    position: absolute;
    top: 0px;
    left: 50%;

    width: 10px;
    height: 10px;

    background-color: #fff;
    box-shadow: -1px -1px 20px #aaa;

    transform-origin: 50% 50%;
    transform: rotate(45deg) translateX(-50%) translateZ(-1px);
    z-index: -1;
  }
}

@mixin snackbar {
  visibility: hidden;
  position: fixed;
  left: 50%;
  bottom: 30px;

  min-width: 250px;
  padding: 16px;
  margin-left: -125px;

  border-radius: 16px;
  background-color: $gray-500;

  color: $white;
  text-align: center;

  z-index: 3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-color: #{transparent};
    --logo-color: #{$white};
    --text-color: #{$white};
    --primary-color: #{$primary-100};
    --bg-color: #{$gray-800};
    --bg-img: url(../../assets/desktop/slider/slide-1.png);

    --login-color: #{$black-transparent};
    --card-color: #{$gray-600};
    --ssmm-color: #{$white};

    --switch-color: #{$gray-250};
    --inactive-vw-bg-color: #{$gray-600};
    --inactive-vw-lines-color: #{$gray-500};
    --active-vw-bg-color: #{$gray-500};
    --active-vw-lines-color: #{$white};
    --controllers: #{$gray-500};

    --footer-gradient1: #{$black-transparent-100};
    --footer-gradient2: #{$total-black};

    --hamburger-menu-bg: #{$gray-650};
    --hamburger-menu-lines: #{$gray-500};

    --modal-bg-1: #{rgba(48, 48, 48, 0.0001)};
    --modal-bg-2: #{$gray-600};
    --chip-color: #{$white};
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --header-color: #{$white-transparent};
    --logo-color: #{$gray-550};
    --text-color: #{$gray-500};
    --primary-color: #{$primary-300};
    --bg-color: #{$gray-50};
    --bg-img: url(../../assets/desktop/slider/lightMode/slide-light-1.png);

    --login-color: #{$gray-50};
    --card-color: #{$white};
    --box-shadow-color: #{$box-shadow};
    --ssmm-color: #{$primary-300};

    --switch-color: #{$gray-250};
    --active-vw-bg-color: #{$gray-400};
    --active-vw-lines-color: #{$gray-500};
    --inactive-vw-bg-color: #{$gray-200};
    --inactive-vw-lines-color: #{$gray-300};
    --controllers: #{$white};

    --footer-gradient1: #{$white-transparent};
    --footer-gradient2: #{$gray-50};

    --hamburger-menu-bg: #{$white};
    --hamburger-menu-lines: #{$gray-250};

    --modal-bg-1: #{$white-transparent};
    --modal-bg-2: #{$gray-50};
    --chip-color: #{$primary-300};
  }
}
