@import "configurations";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

.overlayer {
  display: none;
  position: fixed;
  top: 0;

  width: 100vw;
  height: 100vh;

  background-color: $total-black;
  opacity: 0.4;

  z-index: 2;
}

.home__header {
  @include FlexBox(row, space-between);
  width: 100%;
  height: 94px;

  padding: 0 40px;

  background: linear-gradient(
    180deg,
    $primary-100 0%,
    $primary-300 50%,
    $primary-350 100%
  );
  box-shadow: 1px -3px 36px $black-transparent;

  &-input__container {
    position: fixed;
    top: 24px;
    left: 38%;

    width: 27%;
    height: 47px;

    margin-right: 146px;

    z-index: 2;
    input {
      width: 100%;
      max-width: 362px;
      height: 100%;

      padding: 0 37px;
      background-color: $white;
      border-radius: 4px;
      border: transparent;

      color: $gray-550;
      font-size: 0.938rem;

      &::placeholder {
        color: $gray-400;
      }

      &:focus {
        outline: 3px solid transparent;
      }
    }

    img {
      position: absolute;
      top: 15px;
      left: 10px;
    }
  }

  &-user__container {
    @include FlexBox(row, space-between);
    width: 115px;

    button {
      border: none;
      background-color: inherit;

      color: $white;
      font-size: 0.938rem;

      cursor: pointer;

      &:hover {
        color: $gray-200;
        transition: all 0.3s;
      }
    }

    div {
      width: 48px;
      height: 48px;

      border-radius: 50%;
      border: 1px solid $white;

      background-image: url("https://via.placeholder.com/48x48");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }
}

.home__main {
  width: 100%;
  min-height: 90vh;

  background-color: $gray-800;

  &__banner-section {
    @include FlexBox(row, space-between);

    width: 100%;
    height: 132px;

    padding: 0 40px;

    background-color: inherit;

    .banner {
      &-text__container {
        min-width: 285px;

        color: $white;

        h1 {
          font-size: 3rem;
          font-weight: 800;
        }

        p {
          font-size: 1.125rem;
        }
      }

      &-btns__container {
        @include FlexBox(column, space-around);

        height: 100%;
      }

      &-darkm__container {
        @include FlexBox(row, space-between);
        width: 148px;
        margin-top: 16px;

        span {
          color: $white;
          font-size: 0.938rem;

          margin-left: 16px;
          padding-bottom: 5px;
        }

        button {
          @include secondaryBtns;
        }
      }

      &-view-btns__container {
        @include FlexBox(row, space-between);
        width: 104px;
        margin-left: 44px;
        button {
          @include secondaryBtns;
        }
      }
    }
  }

  &__primary-section {
    @include FlexBox(row, space-between, flex-start);

    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }

  aside {
    position: fixed;
    left: 20px;
    top: 226px;

    width: 260px;

    .navbar__container {
      @include FlexBox(column, space-between, flex-start);

      width: 100%;
      height: 436px;

      padding: 0 21px;

      ul {
        @include FlexBox(column, space-around, flex-start);
        list-style: none;

        li {
          color: $white;
          font-size: 1.125rem;
          cursor: pointer;

          &:hover {
            color: $primary-100;
            transition: all 0.3s ease;
          }
        }

        &:first-child {
          height: 125px;
          li {
            font-size: 1.25rem;
            font-weight: 700;
          }
        }

        &:nth-child(2) {
          @include FlexBox(column, flex-start, flex-start);
          height: 142px;

          li {
            @include FlexBox;
            height: 35px;

            img {
              margin-right: 7px;
              margin-bottom: 3px;
            }

            &:nth-child(2) {
              margin-top: 4px;
            }

            &:last-child {
              margin-top: 7px;
            }
          }
        }

        &:last-child {
          height: 78px;
        }
      }

      .navbar__secondary-title {
        color: $white;
        font-size: 1.375rem;
        font-weight: 700;

        margin-bottom: 12px;
      }
    }
  }

  &__gallery__container {
    width: 97%;
    max-height: 75vh;
    margin-left: 230px;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__card {
    &-container {
      display: grid;
      grid-template-columns: repeat(3, 372px);
      grid-template-rows: repeat(auto-fill, 324px);
      gap: 15px 13px;

      width: 98%;
      height: 200%;

      margin: 0 auto;
    }

    @include FlexBox(column, flex-start);
    width: 98%;

    margin-left: 8px;
    margin-top: 8px;

    border-radius: 12px;
    background-color: $gray-600;

    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    &-img__container {
      position: relative;

      width: 100%;
      height: 180px;

      border-top-left-radius: 12px;
      border-top-right-radius: 12px;

      img {
        width: 100%;
        height: 100%;

        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }
      svg {
        position: absolute;
        right: 12px;
        top: 12px;
        cursor: pointer;
      }
    }

    &-description {
      &__container {
        width: 100%;
        min-height: 136px;

        padding: 15px;
      }

      &-title__container {
        @include FlexBox(row, space-between);
        font-weight: 700;

        h4 {
          color: $white;
          font-size: 1.5rem;
          cursor: pointer;
        }

        span {
          color: $primary-300;
          font-size: 1.125rem;

          margin-top: 8px;
        }
      }

      &-details__container {
        @include FlexBox(row, space-between);

        width: 100%;

        .description-details--text__container {
          @include FlexBox(column, space-between, flex-start);
          gap: 10px;

          width: 66%;
          height: 62%;

          margin-top: 9px;

          color: $white;

          div {
            @include FlexBox(row, flex-start, flex-start);
            width: 100%;

            p {
              font-size: 0.875rem;
            }

            p:nth-child(1) {
              color: $gray-400;
              font-weight: 500;
            }

            p:nth-child(2) {
              margin-left: 25px;
              color: $white;
              font-weight: 400;
            }
          }

          div:nth-child(2) {
            p:nth-child(2) {
              margin-left: 63px;
            }
          }
        }

        .console-logos__container {
          @include FlexBox(row, center);

          width: 29%;
          margin-bottom: 9px;

          img {
            margin-right: 11px;
          }
        }
      }
    }
  }
}

.one-card-view {
  &__card {
    &__container {
      display: none;
      grid-template-columns: repeat(1, 707px);
      grid-template-rows: repeat(auto-fill, 550px);
      gap: 15px 13px;

      width: fit-content;
      height: 200%;

      margin: 0 auto;
    }

    @include FlexBox(column, flex-start);
    width: 99%;
    height: 98%;

    margin-left: 3px;
    margin-top: 8px;

    border-radius: 12px;
    background-color: $gray-600;

    &-img__container {
      position: relative;

      width: 100%;
      height: 317px;

      background-image: URL("https://via.placeholder.com/697x415");
      object-fit: cover;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;

      svg {
        position: absolute;
        right: 26px;
        top: 23px;

        width: 26px;
        height: 26px;
      }
    }

    &-info {
      &__container {
        width: 100%;
        height: 220px;

        padding: 10px 18px;
      }

      &-title__container {
        @include FlexBox(row, space-between);
        font-weight: 700;

        h4 {
          color: $white;
          font-size: 2rem;
        }

        span {
          color: $primary-300;
          font-size: 1.5rem;

          margin-top: 8px;
        }
      }

      &-details {
        &__container {
          @include FlexBox(row, space-between);

          width: 100%;
        }

        &--text__container {
          @include FlexBox(row, space-between, flex-start);
          gap: 10px;

          width: 60%;
          height: 62%;

          margin-top: 9px;

          color: $white;

          div {
            @include FlexBox(row, flex-start);
            width: 100%;

            p {
              font-size: 0.875rem;
            }

            p:nth-child(1) {
              color: $gray-400;
              font-weight: 500;
            }

            p:nth-child(2) {
              color: $white;
              font-weight: 400;
              margin-left: 11px;
            }
          }
        }
      }
    }

    &-console-logos__container {
      @include FlexBox(row, space-between);

      width: 15%;
      margin-top: 9px;
    }

    &-description__container {
      width: 100%;
      margin-top: 19px;

      p {
        color: $white;
        font-size: 0.875rem;
      }
    }
  }
}

.home__footer {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 108px;

  background: linear-gradient(
    180deg,
    $black-transparent-100 0%,
    $total-black 100%
  );
}
