@import "../configurations";
@import "../partials/animations";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  @include FlexBox(column, space-between);
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-color);

  transition: all 0.3s;
}

.header {
  width: 100%;
  height: 115px;
  background: none;
  background-color: var(--header-color);

  & > div {
    @include FlexBox(row, space-between);
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    padding: 0 16px;
  }

  &-logo {
    width: 25%;
    min-width: 180px;
    margin: 45px 0;
    & path {
      fill: var(--logo-color);
    }
  }

  &-theme__container {
    @include FlexBox;
    height: 100%;
    margin-right: 42px;

    & span {
      color: var(--text-color);
      font-size: 1.125rem;
    }

    & button {
      margin-top: 4px;
      margin-left: 10px;
      @include secondaryBtns;
    }

    & button.theme-active {
      & svg {
        & > circle {
          transform: translateX(0);
          transition: all 0.3s ease;
        }
        .off {
          display: none;
        }
      }
    }

    & button.theme-disable {
      & svg {
        & > circle {
          transform: translateX(-20px);
          transition: all 0.3s ease;
        }

        & > rect {
          fill: var(--switch-color);
        }

        .on {
          display: none;
        }

        .off {
          display: block;
        }
      }
    }
  }
}

.main {
  @include FlexBox(row, space-between);
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;

  .login {
    &__container {
      @include FlexBox(row, flex-end, center);
      width: 100%;
      height: 100%;
      max-width: 1500px;
      padding: 0 21px;
    }

    &__card {
      width: 462px;
      padding: 40px 49px;
      border-radius: 12px;
      background-color: var(--login-color);

      &__header {
        color: var(--text-color);
        text-align: center;

        h1 {
          min-width: 285px;
          font-size: 1.25rem;
        }

        h2 {
          min-width: 329px;
          margin-top: 11px;
          font-size: 1rem;
          font-weight: 400;
        }
      }

      &__form {
        margin-top: 36px;
        margin-bottom: 32px;

        &--fieldset1 {
          position: relative;
          @include FlexBox(column);
          gap: 17px;
          border: none;

          input {
            width: 100%;
            height: 47px;

            padding: 10.55px 16px;

            border: transparent;
            border-radius: 4px;

            font-size: 0.938rem;
            color: $gray-550;

            &::placeholder {
              color: $gray-400;
              font-size: 0.938rem;
              font-family: "Exo", sans-serif;
              font-weight: 400;
            }
            &:first-child:focus {
              outline: 1px solid var(--primary-color);
            }

            &:focus {
              outline: 1px solid var(--primary-color);
            }

            &:focus-visible {
              outline: 2px solid var(--primary-color);
            }

            &:disabled {
              background-color: $gray-55;
            }
          }

          .icon__container {
            position: absolute;
            right: 11px;
            bottom: 25px;

            width: 10%;
            height: 25%;
            cursor: pointer;
            .icon {
              &--active {
                display: none;
                position: absolute;
                top: 13px;
                left: 15px;
              }

              &--inactive {
                position: absolute;
                top: 13px;
                left: 15px;
              }
            }
          }
        }

        &--secondary__container {
          @include FlexBox(row, space-between);
          position: relative;
          margin-top: 15px;
          margin-bottom: 23px;

          fieldset {
            @include FlexBox;
            position: relative;
            border: none;
            color: var(--text-color);

            .checkbox__vector {
              display: none;
              position: absolute;
              left: 4px;
              cursor: pointer;
            }

            .active {
              display: block;
            }
          }
        }

        &--checkbox {
          appearance: none;
          -webkit-appearance: none;

          width: 20px;
          height: 20px;
          margin-right: 16px;
          border: 1px solid var(--text-color);
          border-radius: 4px;
          background-color: transparent;
          cursor: pointer;

          &:focus-visible {
            outline: 2px solid var(--primary-color);
          }

          &_label {
            font-size: 0.875rem;
            font-weight: 400;
          }

          &__link {
            font-size: 0.875rem;
            font-weight: 400;
            color: var(--primary-color);
            text-decoration: none;
            cursor: pointer;
            position: relative;

            &:hover {
              & ~ .tooltip {
                display: block;
              }
            }

            &:focus-visible {
              outline: 2px solid var(--primary-color);
            }
          }
        }

        .checkbox--active {
          background-color: $primary-300;
          border-color: $primary-300;
        }

        &__button {
          width: 100%;
          height: 47px;
          border-radius: 6px;
          color: $white;
          background-color: $primary-200;
          border: none;
          cursor: pointer;

          font-weight: 700;
          font-size: 1.125rem;

          &:disabled {
            opacity: 0.4;
            cursor: not-allowed;
          }

          &:hover[disabled] {
            filter: none;
          }

          &:hover {
            filter: drop-shadow(0px 3px 7px $button-hover);
            transition: all 0.3s ease;
          }

          &:active {
            filter: drop-shadow(0px 6px 0px $button-active);
            transition: all 0.3s ease;
          }
          &:focus-visible {
            outline: 2px solid $white;
          }
        }

        &--register {
          &__container {
            @include FlexBox;
            position: relative;
            gap: 8px;

            p {
              color: var(--text-color);
              font-size: 0.875rem;
              font-weight: 400;
            }
          }

          &__link {
            position: relative;
            font-size: 0.875rem;
            font-weight: 400;
            color: var(--primary-color);
            text-decoration: none;

            &:hover {
              & ~ .tooltip {
                display: block;
              }
            }
            &:focus-visible {
              outline: 2px solid var(--primary-color);
            }
          }
        }

        &--decoration__container {
          position: relative;
          @include FlexBox;

          height: 70px;
          p {
            font-size: 0.875rem;
            font-weight: 400;
            color: var(--text-color);
            opacity: 0.5;

            &:after {
              @include Vector(47%);
              left: 200px;
            }
            &:before {
              @include Vector(47%);
              right: 200px;
            }
          }
        }

        &--ssmm {
          &__container {
            @include FlexBox(column, space-between);
            position: relative;
            height: 190px;
          }

          @include FlexBox;

          width: 100%;
          height: 47px;

          border: 2px solid var(--ssmm-color);
          border-radius: 6px;

          font-size: 1.125rem;
          font-weight: 700;
          color: var(--ssmm-color);
          text-decoration: none;

          &:hover {
            & + .tooltip {
              display: block;
            }

            filter: drop-shadow(0px 3px 5px var(--ssmm-color));
            transition: all 0.3s ease;
          }
          &:focus-visible {
            outline: 2px solid var(--primary-color);
          }

          &:active {
            box-shadow: 0px 4px 0px var(--ssmm-color);
          }
          div {
            @include FlexBox(row, flex-start);

            width: 67%;

            & svg {
              margin-right: 14px;
              & path {
                fill: var(--ssmm-color);
              }
            }

            .login__card__form--ssmm {
              &__tw {
                margin-right: 24px;
              }

              &__google {
                margin-right: 30px;
              }
            }
          }
        }
      }
    }
  }
}

.dots {
  font-family: "Verdana", sans-serif;
  font-weight: 900;
}

.tooltip {
  @include tooltip;

  &_password {
    left: 82%;
    width: 120px;
  }

  &_ssmm {
    &--fb {
      top: 45px;
      left: 46%;
    }
    &--tw {
      top: 115px;
      left: 46%;
    }
    &--go {
      top: 186px;
      left: 46%;
    }
  }
}

.error {
  outline: 2px solid $error-color;
}

.error-message {
  width: 100%;

  padding: 5px;

  border: 1px solid $error-color;
  border-radius: 4px;

  color: var(--text-color);
  text-align: center;
}

.success {
  outline: 3px solid var(--primary-color);
}

.slider__arrow {
  &__container {
    position: relative;

    width: 91px;
    height: 100%;

    border: none;
    background-color: transparent;

    & > button {
      & > svg {
        & > circle {
          fill: var(--controllers);
        }
        & > path {
          fill: var(--logo-color);
        }
      }
    }
  }

  &--left {
    @include Arrows;
    left: 36%;
    &:focus-visible {
      outline: 2px solid $primary-100;
      border-radius: 31px;
    }
  }

  &--right {
    @include Arrows;
    right: -5%;
    &:focus-visible {
      outline: 2px solid $primary-100;
      border-radius: 31px;
    }
  }
}

.footer {
  position: relative;

  width: 100%;
  height: 100px;

  &__bullets-container {
    position: absolute;
    bottom: 40%;

    width: 100%;

    &--svg {
      width: 100%;
      margin: auto;

      & rect {
        fill: var(--controllers);
      }

      & circle {
        fill: var(--logo-color);
      }
    }
  }
}

.snackbar {
  visibility: hidden;
  position: fixed;
  left: 50%;
  bottom: 30px;

  min-width: 250px;
  padding: 16px;
  margin-left: -125px;

  border-radius: 16px;
  background-color: $gray-500;

  color: $white;
  text-align: center;

  z-index: 3;
}

.show {
  visibility: visible;

  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@import "../partials/login-responsive";
