@import "../configurations";

@media screen and (max-width: 768px) {
  body {
    background-image: URL("../../assets/tablet/slider/slider1-tablet.png");
  }
  .header {
    @include FlexBox(column, center);

    & > div {
      padding: 0 50px;
    }

    &-logo {
      width: 40%;
      margin: 20px 0 10px;
    }

    &-theme__container {
      height: 30px;
      margin: 0;
    }
  }
  .main {
    .login {
      &__container {
        @include FlexBox(row, center);
        margin-top: 16px;
      }

      &__card {
        margin-bottom: 0px;
      }
    }
  }

  .snackbar {
    left: 47%;
  }
}

@media screen and (max-width: 414px) {
  body {
    @include FlexBox(column, flex-start);
    background-image: URL("../../assets/mobile/slider/slider1-mobile.png");
    background-position: center;
  }

  .header {
    & > div {
      @include FlexBox(column, space-between, center);
    }

    &-logo {
      width: 194px;
    }

    &-theme__container {
      margin: 0 0 13px 0;
    }
  }

  .slider__arrow__container,
  .footer {
    display: none;
  }

  .main {
    .login {
      &__container {
        margin-top: 0;
      }

      &__card {
        padding: 22px 18px;

        &__header {
          h2 {
            width: 260px;
            min-width: 235px;
            margin: 11px auto 0px;
          }
        }

        &__form {
          margin-top: 27px;

          &--secondary_container {
            margin-bottom: 29px;
          }

          &--decoration__container {
            p:before {
              @include Vector(39%);
              right: 165px;
            }
            p:after {
              @include Vector(39%);
              left: 165px;
            }
          }
          &--ssmm {
            div {
              width: 78%;

              img {
                margin-right: 25px;
              }
            }
          }
        }
      }
    }
  }
}
